body {
  background-color: #000;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Permite que las columnas de flores se envuelvan cuando no caben en el ancho de la pantalla */
  font-family: cursive;
}

header  {
  font-style: italic; /* Aplica un estilo cursiva al texto */
  text-align: center;
  background: linear-gradient(to right, #ffcc00, #ff5e00); /* Fondo degradado */
  color: #fff; /* Color del texto */
  width: 100%; /* Asegura que el pie de página ocupe todo el ancho */

}

.flower-column {
  margin-top: 60px;
  margin-bottom: 150px;
  margin-left: 120px;
  text-align:start;
}
button{

  background: #14bd6e;
  font-size: 25px;
}
button:hover{
  
  background: #794b16;
  font-size: 25px;
}
.flower {
  margin-top: 250px;
  margin-bottom: 250px;
  height: 200px;
  width: 200px; /* Espacio entre las flores */
  display: flex;
  align-items: center;
  justify-content:space-around;
  position: relative;
  background-color: #000;
  animation: pulsate 2s infinite; /* Agrega una animación de pulsación */
}
a{
  text-decoration: none;
  text-align: center;
  color: #14bd30;
  font-size: 25px;
}
a:hover{
  text-decoration: none;
  text-align: center;
  color: #15501f;
  font-size: 25px;
}

.text-above,
.text-below {
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 25px;
}

.text-above {
  top: -30px;
}

.text-below {
  bottom: -60px;
}

@keyframes pulsate {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1.5);
  }
}

.mid {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(circle, #000, #ff5e00, #000);
  z-index: 4;
  background-size: 5px 5px;
  filter: drop-shadow(0 0 8px #682600);
}

.Petal1,
.Petal2,
.Petal3 {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 200px;
  height: 40px;
  border-radius: 50%;
  filter: drop-shadow(0 0 5px #e05200);
}

.Petal1 {
  background: radial-gradient(circle, #ff5e00, #ffbb00);
}

.Petal2 {
  background: radial-gradient(circle, #ff5e00, #fbd702);
}

.Petal3 {
  background: radial-gradient(circle, #ff5e00, #fbd702);
}

/* Rotación de los pétalos */
.Petal1.p1 {
  transform: rotate(22.5deg);
}
.Petal1.p2 {
  transform: rotate(67.5deg);
}
.Petal1.p3 {
  transform: rotate(110.5deg);
}
.Petal1.p4 {
  transform: rotate(157.5deg);
}

.Petal2.p1,
.Petal2.p2,
.Petal2.p3,
.Petal2.p4 {
  transform: rotate(90deg);
}

.Petal2.p3 {
  transform: rotate(45deg);
}

.Petal2.p4 {
  transform: rotate(135deg);
}

.Petal3.p1 {
  transform: rotate(22.5deg);
}
.Petal3.p2 {
  transform: rotate(67.5deg);
}
.Petal3.p3 {
  transform: rotate(110.5deg);
}
.Petal3.p4 {
  transform: rotate(157.5deg);
}

footer {
  margin-top: 4%;
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-style: italic; /* Aplica un estilo cursiva al texto */
  background: linear-gradient(to right, #ff5e00, #fbd702); /* Fondo degradado */
  padding: 10px 0; /* Espaciado en el pie de página */
  width: 100%; /* Asegura que el pie de página ocupe todo el ancho */
}
